@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font 2. 바디에 원하는 폰트패밀리 적용 */
body{
    position: relative;
    color: #333;
    font-size: 16px;
    /* 글자 두께 */
    font-weight: 400;
    /* 줄간격 */
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

a{
    /* util_menu 텍스트 설정 기본으로 바꾸기 위한 */
    text-decoration: none;
}

/* 클래스를 공통되게해 어느 곳에서도 css사용하기 위함 */
.inner{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

/* 버튼 서식 공통으로 사용 */
.btn{
    width: 130px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    font-weight: 700px;
    text-align: center;
    cursor: pointer;
    /* 보더 박스는 테두리와 패딩합쳐서 클릭가능 */
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}

.btn:hover{
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse{
    background-color: #333;
    color: #fff;
}


.btn.btn--reverse:hover{
    background-color: transparent;
    color: #333;
}

.btn.btn--brown{
    color: #592B18;
    border-color: #592B18;
}

.btn.btn--brown:hover{
    background-color: #592B18;
    color: #fff;
}

.btn.btn--pink{
    color: #e54360;
    border-color: #e54360;
}

.btn.btn--pink.btn.btn--pink:hover{
    background-color: #e54360;
    color: #fff;
}

.btn.btn--gold{
    color: #D9AA8A;
    border-color: #D9AA8A;
}

.btn.btn--gold.btn.btn--gold:hover{
    background-color: #D9AA8A;
    color: #fff;
}

.btn.btn--white{
    color: #fff;
    border-color: #fff;
}

.btn.btn--white.btn.btn--white:hover{
    background-color: #fff;
    color: #333;
}

.back-to-position{
    opacity: 0;
    transition: 1s;
}

.back-to-position.to-right{
    transform: translateX(-150px);
}

.back-to-position.to-left{
    transform: translateX(150px);
}

.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}

/* HEADER */

/* 헤더 영역잡기 */
#top_layout{
    background-color: #f6f5f0;
    /* 헤더 부분 배경 밑줄로 경계표시 */
    border-bottom: 1px solid #c8c8c8;

    /* visual 부분과 겹치지 않기 위해 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* top_layout 밑의 inner */
#top_layout > .inner{
    /* width: 1100px; */
    height: 120px;
    /* 영역 자동으로 센터로 맞춰주는 것 */
    /* margin: 0 auto; */
    /* background-color: coral; */
    
    /* absolute와 같이 다님 */
    /* position: relative; */
}
#top_layout .inner .logo{
    height: 75px;
    /* 부모요소 기준. relative와 같이 다님*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    /* display: none; */
}

#top_layout .inner .sub_menu{
    /* flex를 사용하여 형제들을 같은 위치에 나열 */
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
}

#top_layout .inner .sub_menu ul.util_menu{
    display: flex;
}

/* 유틸메뉴 작은 바 만들기. before 사용시 content 필요 */
#top_layout .inner .sub_menu ul.util_menu li::before{
    content: "";
    width: 1px;
    /* 폰트크기와 같은 높이사용 */
    height: 12px;
    background-color: #ddd;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* 유틸메뉴 작은바 css와 관계형성 */
#top_layout .inner .sub_menu ul.util_menu li{
    position: relative;
}

/* 유틸메뉴 작은 바 첫번 째 것 지우기, 띄어쓰기 잘 숙지*/
#top_layout .inner .sub_menu ul.util_menu li:first-child::before{
    display: none;
}

/* ul.util_menu => ul태그의 util_menu클래스 */
#top_layout .inner .sub_menu ul.util_menu li a{
    color: #999;
    font-size: 12px;
    /* 여백이 영역이 포함되게 padding사용, margin은 여백포함 x */
    padding: 10px 15px;
    display: block;
}

/* hover 적용 */
#top_layout .inner .sub_menu ul.util_menu li a:hover{
    color: #111;
    text-decoration: underline;
}

/* 유틸메뉴 서치바 영역확인하기위한 백그라운드 */
#top_layout .inner .sub_menu .search_bar{
    /* background-color: chartreuse; */
    /* 머티리얼 돋보기 아이콘 관계잡아주기 */
    position: relative;
}

#top_layout .inner .sub_menu .search_bar input{
    width: 64px;
    height: 34px;
    padding: 4px 10px;
    /* 선 두께, 종류, 색 */
    border: 1px solid #ccc;
    /* 지정한 CSS width 및 height를 전체 영역에 적용합니다. border, padding, margin을 모두 합산하기 때문에 컨텐츠 영역이 설정값보다 적어질 수 있습니다. */
    box-sizing: border-box;
    /* 아웃라인 삭제. 인풋박스 클릭했을 때 나오는 선 */
    outline: none;
    /* 테두리 둥글게 만들기 */
    border-radius: 5px;   
    background-color: #fff;
    color: #777;
    /* focus 부드럽게. 다시 돌아 갈때도 적용위해 이곳에서 트랜지션 적용 */
    transition: width 0.4s;


}

/* input 박스 안에서 커서 깜빡일 때는  focus */
#top_layout .inner .sub_menu .search_bar input:focus{
    width: 190px;
    border-color: #007042;
}

#top_layout .inner .sub_menu .search_bar .material-symbols-outlined{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    height: 24px;
    margin: auto;
    transition: opacity 0.4s;
}

/* 자바스크립트에서 클래스 추가했음 focused */
#top_layout .inner .sub_menu .search_bar.focused .material-symbols-outlined{
    opacity: 0;
    
}


#top_layout .inner .main_menu{
    /* main_menu안에 있는 하위 태그들은 한줄로 나열 됨 */
    display: flex;
    position: absolute;
    bottom: 0;
    right: 200px;
}

#top_layout .inner .main_menu .item_name{
    /* 위, 좌우, 밑 */
    padding: 10px 20px 30px;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    font-weight: 200;
}

/* item클래스가 hover했을 때 item_name클래스가 변하기 */
#top_layout .inner .main_menu .item:hover .item_name{
    background-color: #007042;
    color: #f6f5f0;
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
    /* border-radius: 10px; */
}

#top_layout .inner .main_menu .item .item_contents{
    width: 100%;
    /* inner가 relative */
    position: fixed;
    left: 0;
    top: 120px;
    display: none;
}

#top_layout .inner .main_menu .item:hover .item_contents{
    display: block;
}

#top_layout .inner .main_menu .item .item_contents .contents_menu{
    /* background-color: orangered; */
    height: 200px;
    background-color: #333;
}


#top_layout .inner .main_menu .item .item_contents .contents_menu > ul{
    display: flex;
    padding: 20px 0;

}

#top_layout .inner .main_menu .item .item_contents .contents_menu >ul >li h4{
    padding: 3px 0 12px 0;
    font-size: 14px;
    /* 기본두께 400, border는 선 두께 */
    font-weight: 600;
    color: #fff;
    
}

#top_layout .inner .main_menu .item .item_contents .contents_menu >ul >li{
    width: 220px;
}



#top_layout .inner .main_menu .item .item_contents .contents_menu >ul >li li{
    padding: 5px 0;
    font-size: 13px;
    color: #989c9b;
    /* 마우스 모양 바뀌기 */
    cursor: pointer;    
}

#top_layout .inner .main_menu .item .item_contents .contents_menu >ul >li li:hover{
    text-decoration: underline;
    color: yellowgreen;
    font-weight: 600;
}


#top_layout .inner .main_menu .item .item_contents .contents_text{
    background-color: #333;
    /* 상위폴더로 가기 .. */
    background-image: url(../images/main_menu_pattern.jpg);
    /* height: 100px; , 주석처리로 인해 텍스트 크기만큼 범위가 잡힘*/
    padding: 20px 0;
}


#top_layout .inner .main_menu .item .item_contents .contents_text h4{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

#top_layout .inner .main_menu .item .item_contents .contents_text p{
    font-size: 12px;
    margin: 4px 0 12px 0;
    color: #999;
}

/* BADGE CSS */
#top_layout .badges{
    /* 헤더에 묶여 있던 것이 포지션을 적용해 탈출, header에 relative가 없어 body에 자동으로 잡힘 */
    position: absolute;
    right: 15px;
    /* 헤더의 height와 비교해서 적용 */
    top: 130px;
}

#top_layout .badges .badge img{
    border-radius: 10px;
}


/* FOOTER */

#foot_layout{
    background-color: #272727;
    color: #fff;
}

#foot_layout .inner{
    padding: 40px 0 60px 0;
}

#foot_layout .menu{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

#foot_layout .menu li a{
    color: #ccc;
    font-size: 12px;
    font-weight: 700px;
    padding: 12px;
}

#foot_layout .menu li:first-child a{
    color: #669900;
}

#foot_layout .menu li::before{
    /* 비포 사용하려면 content필요 */
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    border-radius: 50%;
    /* 보여주려고 block 처리 */
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#foot_layout .menu li:first-child::before{
    display: none;
}

#foot_layout .inner .btn-group{
    display: flex;
    justify-content: center;
    
}

#foot_layout .inner .btn-group .btn{
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 30px;
}

/* 전체 마진줘서 오른쪽 면적이 더 커져서 마지막 요소 마진삭제 */
#foot_layout .inner .btn-group .btn:last-child{
    margin-right: 0;
}

#foot_layout .inner .info{
    text-align: center;
    
}

#foot_layout .inner .info span{
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}

#foot_layout .inner .info span:last-child{
    margin-right: 0;
}

#foot_layout .inner .copyright{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

#foot_layout .inner .logo{
    display: block;
    margin: 30px auto 0;
}