.signin{
    /* margin top하는 이유는  헤더영역에 가려지기 때문 */
    margin-top: 120px;
    padding: 100px 0 150px;
    background-image: url(../images/signin_bg.jpg);
    background-repeat: no-repeat;
    
    /* 백그라운드 이미지가 가운데로옴 */
    background-position: center;
    /* 스크롤할때마다 영역이 같이 움직임 */
    background-attachment: fixed;
    /* 이미지를 전체 영역에 맞춰줌 */
    background-size: cover;
    
    
}

.signin h1{
    color: #fff;
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 25px;
    
    /* 텍스트의 정렬 */
    text-align: center;   
}

.signin .signin_card{
    background-color: #f6f5f0;
    width: 500px;
    border-radius: 5px;
    /* 다른 태그들은 상속이 되지만  a태그는 별개다*/
    color: #555;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0, 0.3);
    /* display block 상태에서 가운데 정렬하는법 */
    margin: 0 auto;
}

.signin .signin_card form{
    padding: 25px 30px;
}

.signin .signin_card h2{
    text-align: center;
    font-size: 12px;
    padding: 30px 0;
    /* 영역의 테두리 */
    border-bottom: 1px solid #ddd;
}

.signin .signin_card h2 span{
    color: #006633;
    font-size: 15px;
}


.signin .signin_card input{
    /* 영역을 가득 채워 한 줄로 만들기 */
    width: 100%;
    margin-bottom: 12px;
    /* input box안의 패딩 */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
    /* input box 클릭할 때 선이 살아나기에 아웃라인 none */
    outline: none;

    /* 영역 500px에 패딩 양쪽 30px이라 530px으로 튀어나오지만
    border-box로 패딩합쳐 500px로 설정하기 */
    box-sizing: border-box;
    font-size: 14px;
}

.signin .signin_card input[type="submit"]{
    background-color: #006633;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.signin .signin_card p{
    font-size: 12px;
    color: #006633;
    text-align: center;
}

.signin .signin_card .action{
    display: flex;
    /* 위쪽 선 */
    border-top: 1px solid #ddd;    
}

.signin .signin_card .action a{
    /* flex-grow 같은 비율로 띄어쓰기 */
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;
    color: #555;
    font-size: 14px;
    position: relative;
    
}

.signin .signin_card .action a:hover{
    text-decoration: underline;
}

.signin .signin_card .action a::before{
    content: "";
    width: 1px;
    height: 14px;
    background-color: #ddd;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.signin .signin_card .action a:first-child::before{
    display: none;
}
